:root {
	--main-bg: #be03fc;
	--imprtnt-clr: #ff9603;
	--footer-clr: #565656;
	--green: #2dde16;
}


body, h1, h2, h3, h4, ul, ol, li, p {
	margin: 0;
}
body {
	font-family: 'Montserrat', sans-serif;
}

* { 
box-sizing: border-box; 
} 

a { 
text-decoration: none; 
} 

.container { 
width: 1024px; 
margin: 0 auto; 
} 

img { 
max-width: 100%; 
}

.imprtnt-clr {
	color: var(--imprtnt-clr)
}

.header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 56px;
	background-color: var(--main-bg);
}

.header__logo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 20px;
	margin-left: 30px;
	width: 120px;
	color: var(--imptnt-clr);
	font-weight: 700;
}

.header__logotype {
	height: 40px;
	margin-right: 10px;
	border-radius: 5px;
}

.header__name {
	transition: .5s;
}

.header__name:hover {
	transform: scale(1.2);
}

.header__actions {
	margin-right: 40px;
}

.header__link {
	display: inline-block;
	font-size: 17px;
	color: #ffffff;
	margin-right: 10px;
	padding: 5px 15px;
	text-decoration: none;
	transition: .5s;
}

.header__link:hover {
	transform: scale(1.3);
}

.footer {
	text-align: center;
	background-color: var(--footer-clr);
	color: #fff;
	padding: 15px 0;
}

.footer__feedback {
	font-size: 17px;
	margin-bottom: 10px;
	color: #fff;
}

.footer__link {
	display: inline-block;
	color: var(--imptnt-clr);
	margin: 0 8px;
	font-size: 17px;
	transition: .5s;
}

.footer__link:hover {
	transform: scale(1.2);
}
